<div class="forumpost">
  <div class="forumtype forumtype_discussion">
    <div class="forumtype_icons disc_icon"></div>
  </div>

  <div class="forumcontent">
    <div class="forumpostheader">
      <img class="usericon" src="../images/avatar/{{profpic}}.png" alt="{{username}} Icon">
      <div class="forumheadercontent">
        {{username}} <span style="color:grey"> • Posted {{postedAt}}</span>
      </div>
    </div>
    <a href="forumpost3.html">
      <div class="forumbodycontent">
        <b>{{title}}</b>
        {{content}}
      </div>
    </a>

    <div class="forumpostfooter">
      <input class="forumreax" type="image" src="../images/dislike.png">
      <p class="forumreaxcnt">{{rating}}</p>
      <input class="forumreax" type="image" src="../images/like.png">
      <p class="forumcommentcnt"></p>
    </div>
  </div>
</div>
