<div class="card">
  <button class="bottombutton" id="trade1" style="height:30px">{{item}}</button>
  <form method="post" id="formID">
    <input id="uName" value="{{item}}">
    <input id="offerN" value="{{offerName}}">
    <input id="offerT" value="{{offerType}}">
    <input id="offerI" value="{{offerIndex}}">
    <input id="userOffer" value="{{username}}">
  </form>
</div>
